.caixa{
    background-color: #ffbbee;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #ff62d8;
    color: white !important;
}

.postagens{
    background-color: white;
}
.avatar1{
    width: 800px;
    height: 480px;
    border-radius: 50%;
    margin-right: 30px;
}