.box1{
    background-color: #ff92e4;
    height: 120px;
}

.box2{
    background-color: rgb(255, 49, 169);
    height: 30px;
    border-radius: 0px 0px 25px 25px;
}

.redes{
    font-size: 60px !important;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

.textos{
   color: rgb(0, 0, 0);
   justify-content: center;
   align-items: center;
}